.container{
    display: flex;
    max-width: 720px;
    width: 100%;
    // background-color: rgb(207, 207, 207);
    margin: 10px 0;
}


.cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    width: 200px;
    // height: 200px;
}

.image {
    width: 200px;
}

.cardInfo {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
    align-items: start;

    span {
        margin-left: 15px;
    }

    button {
        background-color: inherit;
        margin-left: 15px;
    }

    h3 {
        margin: 0 15px;
    }

    p {
        margin: 0 15px;
        max-width: 250px;
    }
}

.current {
    display: flex;
    height: 50px;
    align-items: center;

    span {
        display: flex;
        flex-direction: column;
    }

    button {
        border: none;
    }
}

// .cardInfo 

// .cardInfo 
